body {
    font-family: 'Arial', 'Open Sans', sans-serif;
    overflow-x: hidden;
    padding-top: 221px;
}

h1, h2, h3, h4 {
    font-family: 'Prosto One', sans-serif;
    color: #006838;
}

h3 {
    font-size: 1em;
}

a {
    color: #006838;
}

a:hover,
a:active {
    color: #02ab60;
}

#top-line {
    padding: 10px 20px;
    top: 0;
    background-color: white;
    position: fixed;
    border-bottom: 1px solid grey;
    z-index: 999;
}

#top-image {
    width: 100%;
    top: 71px;
    height: 150px;
    position: fixed;
    background: url("../images/top.jpg") no-repeat;
    background-size: cover;
    z-index: 999;
}

#top-line .logo-block {
    width: 180px;
}

#top-line .logo-text {
    width: 120px;
}

.main-nav {
    padding: 0;
}

.nav-link {
    color: #006838;
}

.navbar-collapse .nav-item {
    margin-left: 0;
    font-size: 18px;
}

.navbar-toggler {
    background-color: white;
}

.navbar a {
    color: #9d9d9d;
}

.nav-item.active a {
    color: black;
    font-weight: bold;
}

.wow {
    visibility: hidden;
    animation-iteration-count: 1;
}

.section {
    /*font-size: .8rem;*/
    padding: 3rem 0;
}

.rounded-block {
    border-radius: 10px;
    padding: 20px;
    overflow: hidden;
}

#on-top-button {
    width: 48px;
    height: 48px;
    text-align: center;
    color: #006838;
    background-color: white;
    border-radius: 50%;
    position: fixed;
    left: auto;
    right: 27px;
    bottom: 50px;
    z-index: 1001;
    cursor: pointer;
    filter: drop-shadow(2px 2px 2px #000);
    display: none;
}

#on-top-button i {
    margin-top: 15px;
    font-size: 20px;
}

div[data-scroll-destination=contacts] i {
    color: #006838;
    margin-left: 7px;
    margin-right: 5px;
    font-size: 1.2em;
}

div[data-scroll-destination=contacts] i:first-child {
    margin-left: 0;
}

footer {
    background: url("../images/color_section.jpg") no-repeat;
    background-size: cover;
}

footer img {
    width: 100px;
    margin-bottom: 15px;
}

footer .navbar-light .navbar-nav .nav-link {
    color: white;
}

footer .navbar-light .navbar-nav .nav-link:hover,
footer .navbar-light .navbar-nav .nav-link:active {
    color: #02ab60;
}

@media (max-width: 991px) {
    .navbar-collapse {
        width: 180px;
        position: absolute;
        top: 50px;
        margin-left: -60px;
        font-weight: bold;
        text-align: center;
        background-color: white;
        padding: 10px;
        border-radius: 5px;
        filter: drop-shadow(2px 2px 2px #000);
    }

    footer .navbar-collapse {
        top: auto;
        bottom: 50px;
    }

    footer .navbar-light .navbar-toggler:focus {
        box-shadow: 0 0 0 0.25rem #02ab60;
    }

    footer .navbar-light .navbar-nav .nav-link {
        color: grey;
    }
}

@media (max-width: 575px) {
    .navbar-collapse {
        margin-left: auto;
        right: 5px;
    }
}
